/* Empty. Add your own CSS if you like */

/*h2 span { */
/*display: inline-block;*/
/*vertical-align: middle;*/
/*}*/

.imagens-background {
    /*background-image: url('../img/praia.jpg');*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

.item-transparente {
    /*opacity: .75;*/
    /*    background: rgb(0, 0, 0) transparent;*/
    /*background: rgba(0, 0, 0, 0.7);*/
    /*background: rgba(76, 175, 80, 0.1) */
    /*background-color: rgba(0, 0, 0, 0.1);*/
    /*background-color: transparent;*/
    opacity: .8;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
}

.vertical-align {
    vertical-align: middle;
}

.p h1 h2 h3 h4 h5 h6 {
    opacity: 1;
}

.content-box {
    height: 100%;
}

.enquadrar {
    height: 100%;
    width: 100%;
    position: relative;
}

.enquadrar img {
    width: 100%;
}

#grafico {
    /*width: 800px;*/
    /*height: 600px;*/
    overflow: hidden;
    position: relative;
    border: 1px solid black;
    margin: auto;
}

#grafico img {
    max-width: 100%;
    /*    position: absolute;*/
    /*    top: -4px;*/
    /*    left: 0px;*/
}

#grafico1 {
    max-width: 100%;
    width: 370px;
    height: 360px;
    overflow: hidden;
    position: relative;
    border: 1px solid black;
    margin: auto;
}

#grafico1 img {
    
    position: absolute;
    top: -4px;
    left: 0px;
}

#grafico2 {
    max-width: 100%;
    width: 370px;
    height: 364px;
    overflow: hidden;
    position: relative;
    border: 1px solid black;
    margin: auto;
}

#grafico2 img {
    
    position: absolute;
    top: 0px;
    left: -380px;
}

#grafico3 {
    max-width: 100%;
    width: 370px;
    height: 356px;
    overflow: hidden;
    position: relative;
    border: 1px solid black;
    margin: auto;
}

#grafico3 img {
    
    position: absolute;
    top: -360px;
    left: 0px;
}

#grafico4 {
    max-width: 100%;
    width: 370px;
    height: 360px;
    overflow: hidden;
    position: relative;
    border: 1px solid black;
    margin: auto;
}

#grafico4 img {
    
    position: absolute;
    top: -360px;
    left: -375px;
}

#grafico5 {
    max-width: 100%;
    width: 370px;
    height: 356px;
    overflow: hidden;
    position: relative;
    border: 1px solid black;
    margin: auto;
}

#grafico5 img {
    
    position: absolute;
    top: -712px;
    left: 0px;
}

#grafico6 {
    max-width: 100%;
    width: 370px;
    height: 356px;
    overflow: hidden;
    position: relative;
    border: 1px solid black;
    margin: auto;
}

#grafico6 img {
    position: absolute;
    top: -712px;
    left: -375px;
}

#radarImagens {
    position: relative;
    margin: 0 auto;
}

#radarImagens img {
    position: absolute;
    left: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#radarImagens img.top:hover {
    opacity: 0;
}

#cf4a {
  position:relative;
      height: auto;
    width: auto;
    margin: 0 auto;
}
#cf4a img {
  position:absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
}

#cf4a img {
  -webkit-animation-name: cf4FadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 16s;

  -moz-animation-name: cf4FadeInOut;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 16s;

  -o-animation-name: cf4FadeInOut;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 16s;

  animation-name: cf4FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 16s;
}
@keyframes cf4FadeInOut {
  0% {
    opacity:1;
  }
  6.25% {
    opacity:1;
  }
  12.5% {
    opacity:0;
  }
  93.75% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#cf4a img:nth-of-type(1) {
  animation-delay: 14s;
}
#cf4a img:nth-of-type(2) {
  animation-delay: 12s;
}
#cf4a img:nth-of-type(3) {
  animation-delay: 10s;
}
#cf4a img:nth-of-type(4) {
  animation-delay: 8s;
}
#cf4a img:nth-of-type(5) {
  animation-delay: 6s;
}
#cf4a img:nth-of-type(6) {
  animation-delay: 4s;
}
#cf4a img:nth-of-type(7) {
  animation-delay: 2s;
}
#cf4a img:nth-of-type(8) {
  animation-delay: 0;
}